.shimmerContainer {
  position: absolute;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.shimmer {
  height: 300px;
  width: 100%;
  position: absolute;
  background-color: aliceblue;
  opacity: 1;
  border-radius: 50px;
}

.shimmerShine {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  filter: blur(15px);
  height: 300px;
  width: 80%;
  transform: skewX(-30deg) translateX(-350%);
  animation: shinner 1s infinite;
}
.shimmerContainer.FadeOut {
  display: none;
}

@keyframes shinner {
  100% {
    transform: skewX(-30deg) translateX(350%);
  }
}
