.flexBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}
.container {
  margin: auto;
  width: 100%;
  padding: 0px 20%;
  color: #02273c;
}
.container {
  margin: 0 !important;
  padding-bottom: 30px;
}
.field {
  margin-bottom: 15px;
  width: 100%;
}
.fieldWrap {
  height: 110px;
}
.fieldAlignment {
  display: flex !important;
  align-items: stretch;
}
.error {
  color: red !important;
}

.sendBtn {
  margin: 20px 0 30px !important;
  text-transform: none !important;
  height: 45px !important;
  background: #4c70e3 !important;
  color: #ffffff !important;
}
.createAccountWrap {
  color: #707683;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
}
.link a {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  text-transform: none !important;
}
.mailReceiveTxt {
  text-align: center;
  padding: 10px;
}
.successMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.tickSvg {
  text-align: center;
}
.msgWrap {
  text-align: center;
}
.tickSvg svg {
  font-size: 90px !important;
}
.msgWrap button {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Inter';
  /* font-weight: 600; */
  text-transform: none !important;
}
.signIn {
  text-align: center;
  /* padding: 10px; */
  color: #707683;
  font-size: 14px;
}
.signIn button {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Inter';
  /* font-weight: 600; */
  text-transform: none !important;
}
