.flexBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}
.container {
  margin: auto;
  width: 100%;
  padding: 0px 15%;
  color: #02273c;
  text-align: center;
}
.link button {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  text-transform: lowercase !important;
  min-width: fit-content !important;
  /* text-decoration: underline !important; */
  /* font-weight: bold !important; */
  padding: 0;
  font-family: 'Inter';
  font-size: 14px;
  margin-left: 5px;
}
.mailReceiveTxt {
  padding-bottom: 5px;
  color: #323c47;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.verifyTitle {
  font-size: 24px;
  font-weight: 500;
  padding-top: 30px;
}
.mailSent {
  padding: 30px 0;
}
.mail {
  color: #4c70e3 !important ;
  font-weight: 500;
}
.spam {
  color: red;
  font-weight: 500;
}
.verifyTxt {
  font-size: 14px;
  font-weight: 400;
  color: #707683;
}
.signIn {
  text-align: center;
  padding: 10px;
  color: #707683;
  font-size: 14px;
}
.signIn button {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  text-transform: none !important;
  padding: 0;
  min-width: fit-content;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Inter';
}
.thanksWrap {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #707683;
  padding: 15px 0 30px 0;
  line-height: 1.5em;
}
.invalidToken {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(76, 112, 227);
  font-size: 24px;
  text-transform: none;
  font-weight: bold;
}
