.paperShadow {
  position: relative;
  background: #fff;
  width: 120px;
  box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
  height: 150px;
}
.fileIcon {
  position: absolute;
  bottom: -5px;
  right: -5px;
}
.size {
  text-align: center;
  font-size: 14px;
  color: #707683;
  padding-bottom: 20px;
}
.type {
  text-align: center;
  padding-top: 20px;
}
.paperShadow:after,
.paperShadow:before {
  content: '';
  position: absolute;
  left: auto;
  background: none;
  z-index: -1;
}
.paperShadow:after {
  width: 90%;
  height: 10px;
  top: 30px;
  right: 8px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-box-shadow: 0px -20px 36px 5px #295d92;
  -moz-box-shadow: 0px -20px 36px 5px #295d92;
  box-shadow: 0px -25px 35px 0px rgba(0, 0, 0, 0.5);
}

.paperShadow:before {
  width: 10px;
  height: 95%;
  top: 5px;
  right: 18px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-box-shadow: 20px 0px 25px 5px #295d92;
  -moz-box-shadow: 20px 0px 25px 5px #295d92;
  box-shadow: 22px 0px 35px 0px rgba(0, 0, 0, 0.5);
}
