.flexBackground {
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; */
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow: hidden;
}
.container {
  margin: auto;
  /* width: 100%; */
  padding: 0px 20%;
  color: #323c47;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.termsAgreed svg {
  color: #4c70e3 !important;
}
.container h2 {
  margin-bottom: 10px;
}
.field {
  /* margin-bottom: 15px; */
  width: 100%;
}
.fieldWrap {
  height: 100px;
}

.error {
  color: red !important;
}

.sendBtn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  text-transform: none !important;
  height: 45px;
  margin-top: 30px;
  margin-top: 30px !important;
  /* background: #4c70e3; */
  color: #ffffff !important;
}
.createAccountWrap {
  color: #707683;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 30px;
}
.link a {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  text-transform: none !important;
  /* font-weight: bold; */
  padding: 0 !important;
  margin-left: 5px;
  font-family: 'Inter';
  font-size: 14px !important;
  min-width: fit-content !important;
  font-weight: 500;
}
.mailReceiveTxt {
  text-align: center;
  padding: 20px;
  color: #707683;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.linkBtn {
  min-width: 45px;
}
.termsWrap a {
  text-decoration: underline !important;
  font-size: 14px;
  padding: 15px 0;
  /* margin: 5% 0; */
}
.termsWrap {
  padding: 15px 0;
}
.link label {
  margin-left: -3px !important;
}
/* .select_field {
  border: 1px solid #c1c4c7 !important;
  border-radius: 4px;
  margin-bottom: 13px;
  margin-top: 10px;
} */
