.flexBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}
.container {
  margin: auto;
  width: 100%;
  padding: 0px 20%;
  color: #02273c;
}
.container h2 {
  color: #323c47;
  margin: 0 !important;
  padding-bottom: 10px;
}
.field {
  margin-bottom: 15px;
  width: 100%;
}
.fieldAlignment {
  display: flex !important;
  align-items: stretch;
}
.error {
  color: red !important;
  font-weight: 500;
  font-size: 14px;
}
.sendBtn {
  margin: 25px 0 30px !important;
  text-transform: none !important;
  height: 45px !important;
  background: #4c70e3 !important;
  color: #ffffff !important;
}
.fieldWrap {
  height: 110px;
}
.forgotPasswordContent {
  color: #707683;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 30px;
  line-height: 1.5em;
}
.link a {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  text-transform: none !important;
  /* font-weight: bold; */
  font-size: 14px;
}
.link {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.signIn {
  text-align: center;
  padding: 15px 0;
}

.signIn button {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  /* font-weight: bold; */
  font-size: 14px;
  font-family: 'Inter';
  text-transform: none !important;
}
.mailReceiveTxt {
  text-align: center;
  /* padding: 10px; */
  color: #707683;
  font-size: 14px;
}
.mailReceiveTxt button {
  color: #4c70e3 !important ;
  background: transparent !important;
  text-decoration: none;
  cursor: pointer;
  text-transform: none !important;
  padding: 0 !important;
  min-width: fit-content !important;
  margin-left: 5px;
  font-size: 14px;
  /* font-weight: 600; */
  font-family: 'Inter';
}
