.headerWrap {
  display: flex;
  /* height: 40px; */
  align-items: center;
  /* padding: 10px 0; */
}
.logoImg {
  margin: 0 20px;
  width: 150px;
}
.logoImg img {
  max-width: 150px;
  max-height: 80px;
  object-fit: contain;
}
