.salesHub_main_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.salesHub_main_card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  background-color: white;
  padding: 20px;
  font-family: 'Inter', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #323c47;
}
.salesHub_title_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  font-size: 20px;
  font-weight: 500;
  color: #192a3e;
  padding-left: 5px;
}
.salesHub_info_title_div {
  display: flex;
  justify-content: space-between;
  width: auto;
  background: #fafafa;
  font-weight: 500;
  color: #707683;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
}
.salesHub_info_title_div:hover {
  background-color: #e5e5e5;
}
.salesHub_info_div {
  display: flex;
  flex-direction: row;
  width: 99%;
  padding: 5px 10px;
  align-items: flex-start;
  justify-content: space-between;
}
.salesHub_each_info_div {
  display: flex;
  flex-direction: row;
  width: 48%;
  /* align-items: center; */
  justify-content: space-between;
  padding: 5px 0px;
  margin: 5px 0px;
}
.salesHub_each_info_fullWidth_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
  margin: 5px 0px;
}
.salesHub_textfield_div .MuiFormControl-marginDense {
  /* margin-right: 75px;
  margin-left: 25px; */
  min-width: 300px;
}
.salesHub_textfield_div {
  /* margin-right: 50px;
  margin-left: 25px; */
  width: 300px !important;
}
.salesHub_assetCollection_div {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 5px 0px 10px 0px;
  color: #323c47;
  font-size: 16px;
}
.salesHub_assetCollection_button_div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px 0px;
  margin: 5px 0px;
}
.salesHub_assetCollection_button_div button {
  min-width: 235px;
}
.salesHub_assetCollection_card_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* @media screen and (max-width: 1390px) {
  .salesHub_info_div {
    flex-direction: column;
  }
  .salesHub_each_info_div {
    width: 100%;
  }
} */

.salesHub_centerDropDown {
  /* margin-right: 50px;
  margin-left: 25px; */
  border: 1.5px solid rgba(196, 196, 196, 0.5);
  border-radius: 5px;
  background: white !important;
}

.disabledFile .MuiInputBase-input {
  color: black !important;
  font-size: 14px;
}
.disabledFile .MuiInputBase-input.Mui-disabled {
  color: black !important;
}
.sales_hub_textArea textarea {
  min-height: 80px;
}

.salesHub_field_label {
  margin-top: 10px;
  color: #707683;
}
.sales_hub_select .MuiSelect-select.MuiSelect-select {
  /* min-width: 295px !important; */
  border: 1.5px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
}
.sales_hub_select .Mui-focused .MuiSelect-select.MuiSelect-select {
  min-width: 295px !important;
  border: 2px solid #4c70e3;
  border-radius: 4px;
}
.sales_hub_select .MuiSelect-select:focus {
  border-radius: 4px;
  background-color: #fff;
}
.previewImageHelper {
  max-width: 300px;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.5em 0;
}
