.viewAssetsMainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.viewAssetMenuName {
  display: none;
}

.viewAssetsListPreviewContainer {
  display: flex;
  flex-direction: row;
  margin: 0 5%;
  min-height: calc(100vh - 500px);
}

.noAssetMsg {
  min-height: calc(100vh - 500px);
}

.Breadcrumbs {
  padding: 1rem 5% 0 5%;
  cursor: pointer;
}

.BreadcrumbsText {
  color: #0057ff !important;
  font-size: 12px !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  text-transform: none !important;
  margin: 1em;
  padding: 0% !important;
  min-width: fit-content !important;
}

.Breadcrumbs .MuiTypography-root .MuiBreadcrumbs-separator {
  color: #0057ff;
  font-size: 12px;
  margin: 0 !important;
}

.typoText {
  font-size: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  text-transform: none !important;
  padding: 0% !important;
  color: #323c47 !important;
}

.viewAssetsListMenuContainer {
  width: 5%;
  padding: 0em 2em 0em 0em;
}

.viewAssetControl {
  display: none;
}

.viewAssetsContainer {
  padding: 0em 0em 0em 1.5em;
  border-left: 1px solid rgba(51, 77, 110, 0.2);
  width: 90%;
  align-items: center;
  height: fit-content;
}

.viewAssetsFileText {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #192a3e;
  padding: 0.5em 0.5em 0.5em 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewAssetsHeaderContainer {
  display: flex;
  height: 100px;
  /* margin: 0 5% 0 2.5%;
  padding-left: 32px; */
  border-bottom: 1px solid rgba(51, 77, 110, 0.2);
  margin-left: 5%;
  width: 90%;
}

.viewAssetsListContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  margin-right: 5px;
}

.resizedviewAssetsListContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem 0rem;
  height: 100%;
  transition: all 400ms cubic-bezier(0.42, 0, 0.49, 0.32);
}

.paddingContainer {
  display: flex;
}

.resizerWrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0px;
  margin-top: 5rem;
  transition: all 2s ease-in-out;
}

.resizerEnabledWrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0px;
  margin-top: 5rem;
  align-content: center;
  flex-direction: column;
  transition: all 2s ease-in-out;
}

.resizeBtn {
  background-color: #4c70e3;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: overlay;
  margin-right: -1rem;
}

.pointRight {
  transform: rotate(180deg);
}

.resizeBtn {
  background-color: #4c70e3;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.pointRight {
  transform: rotate(180deg);
}

.pdfOnlyDiv {
  width: 100%;
}
.pdfOnlyDiv > div {
  height: 150vh !important;
}
.viewAssetsPreviewContainer {
  padding: 2rem 0rem;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.noAssetMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 16px;
  width: 100%;
}

.viewAssetsLogoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewAssetsLogoContainer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assetCollectionTitle {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.assetCollectionNoAsset {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1 rem;
  margin-bottom: 2rem;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.imageAndContentContainer {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 40px;
}

.image {
  width: 38%;
  min-width: 160px;
  height: 90px;
  border-radius: 4px;
}

.companyLogo {
  width: 150px;
  /* height: 50px; */
  margin-right: 50px;
}

.partnerCompanyLogo {
  width: 142px;
  height: 40px;
  margin-right: 2rem;
}

.serviceProviderLogo {
  width: 142px;
  height: 40px;
}

.contentContainer {
  display: flex;
  width: 62%;
  flex-direction: column;
  padding-left: 15px;
}

.title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #323c47;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #707683;
  font-size: 14px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: initial;
  padding-right: 5px;
}

.imageAndAssetsMainContainer {
  background: #fafafa;
  border-radius: 10px;
  width: 100%;
}

.imageAndAssetsContentContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 10px 25px;
  background: #ffffff;
  align-items: center;
  border-radius: 10px;
}

.pfdImage {
  padding: 25px;
  margin-right: 25px;
}

.resizedPdfImage {
  padding: 25px;
}

.resizedPdfImage {
  padding: 25px;
}

.pdfTitle {
  display: flex;
  align-items: center;
  color: #323c47;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.fabCTADiv {
  /* display: flex;
  position: fixed;
  transition: all 500ms ease-in-out;
  right: 65px;
  bottom: 10px; */
  display: flex;
  position: fixed;
  transition: all 300ms ease-in-out;
  right: 1.5%;
  bottom: 4%;
}

.fabCTA {
  background-color: #ffab40 !important;
  height: 65px !important;
  width: 65px !important;
}

.fabCloseImg {
  height: 20px !important;
  width: 20px !important;
}

.fabCTAImg {
  height: 32.5px !important;
  width: 32.5px !important;
}

.videoAssetView {
  width: 100%;
  height: 500px;
}

.iframeAssetView {
  width: 100%;
  height: 800px;
}

.shareText {
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.shareIcon {
  margin-right: 10px;
}

.viewAssetsWrapContainer {
  padding: 1rem 5% 0 5%;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .Breadcrumbs {
    display: none;
  }

  .shareIcon {
    margin-right: 4px;
  }

  .viewAssetsHeaderContainer {
    padding: 36px 15px;
    border-bottom: none;
    height: auto;
    margin-left: 0;
  }
  .viewAssetsWrapContainer {
    padding: 1rem 15px 0 15px;
    cursor: pointer;
  }

  .viewAssetMenuName {
    margin-left: 0;
  }

  .viewAssetsMobileFilesContainer {
    display: none;
  }

  .viewAssetsMobileContainer {
    /* display: none; */
    padding: 0rem 12px 0 12px;
  }

  .viewAssetsListPreviewContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: none;
  }

  .viewAssetsLogoContainer {
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .viewAssetsLogoContainer2 {
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }

  .viewAssetsListMenuContainer {
    width: auto;
    margin: 1rem 0rem 0.5rem 0.5rem;
  }

  .viewAssetMenuContainer {
    display: flex;
    padding-top: 14px;
    padding-bottom: 22px;
  }

  .viewAssetMenuContainer > button {
    padding: 6px 0px;
    min-width: 20px;
    margin-left: 5px;
  }

  .viewAssetControl {
    position: absolute;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }

  .viewAssetControl > button {
    min-width: 0;
  }

  .viewAssetMenuName {
    display: flex;
    /* margin-left: 20px; */
    width: 65%;
    align-items: center;
    color: #424242;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
  }

  .viewAssetsFileText {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0.5em 0.5em 0.5em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 0.2em; */
  }

  .viewAssetsContainer {
    display: none;
  }

  .resizerWrap {
    display: none;
  }

  .viewAssetsButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
  }

  .viewAssetsButtonContainer > button {
    min-width: 50px !important;
  }

  .viewAssetsListContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 1rem 0rem 1rem 15px;
    height: 100%;
  }

  .viewAssetsLogoContainer :last-child {
    margin-right: 0rem;
  }

  .companyLogo {
    width: 90px;
    height: 30px;
    margin-right: 1rem;
    margin-left: 0;
  }

  .viewAssetsPreviewContainer {
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .pdfOnlyDiv > div {
    height: 100vh !important;
  }
  .fabCTADiv {
    right: 10px;
    bottom: 15px;
  }

  .videoAssetView {
    width: 100%;
    height: 300px;
  }

  .iframeAssetView {
    width: 100%;
    height: 375px;
  }

  .noAssetMsg {
    min-height: calc(100vh - 500px);
  }

  .noAssetPreviewContainer {
    min-height: fit-content;
  }
}

@media screen and (max-width: 990px) and (min-width: 600px) {
  .companyLogo {
    width: 110px;
    height: 40px;
  }

  .viewAssetsLogoContainer {
    justify-content: space-between;
    width: 60%;
    align-items: center;
  }
}

@media screen and (min-width: 750px) {
  .mobileViewBackContainer {
    display: none;
  }
}

@media screen and (min-width: 4000px) {
  .mobileViewBackContainer {
    display: none;
  }
}
