:root {
  --app--text--color: #323c47;
  --app--primary--color: #4c70e3;
  --app--text--field--color: #323c47;
  --app--text--placeholder--color: #323c4726;
  --app--border--color: #c4c4c4;
  --app--placeholder: #323c47;
}

[data-theme='dark'] {
  --app--text--color: #323c47;
  --app--primary--color: #4c70e3;
  --app--text--field--color: #323c47;
  --app--text--placeholder--color: #323c4726;
  --app--border--color: #ffffff;
  --app--placeholder: rgb(218, 216, 216);
}

/* .MuiSelect-select.MuiSelect-select {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
} */
